<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<setting name ="mapUnderscoreToCamelCase" value="true"/>
<setting name="jdbcTypeForNull" value="NULL"/>
</settings>
<typeAliases>
  <typeAlias alias="Account" type="com.my.account.vo.AccountVO"/>
  <typeAlias alias="Diary" type="com.my.diary.vo.DiaryVO"/>

</typeAliases>

  <mappers>
    <mapper resource="DiaryMapper.xml"/>
    <mapper resource="AccountMapper.xml"/>
   
  </mappers>
</configuration>